<html>
    <head>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
                <link rel = "stylesheet" href = "{{url_for('static', filename = 'styles/index.css')}}"/>
    </head>
    
    <body>
        
        <div class = "container">
           <h1 id = "dead"> Time to click: 5 </h1>
           <h2 id = "high">Highscore: {{highscore}} </h2>
           <h2 id = "scoreh"> Score: {{score}} </h2>
           
            
        </div>
        <div class = "container" id = "game">
            
            <img id="object" width="50"height="50"/>
        </div>
        <div class = "container">
            <a href = '/settings'> Settings </a>
            
        </div>
    </body>
    <script src = "/static/game.js"></script>
    <script src = "/static/index.js"></script>
</html


